{% extends "base_about.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="mainform">
  <div id="background-effect"></div>
  <div class="form-container">
    <h1>About Us</h1>
    <p>Welcome to AVOIDNS, your ultimate free DNS testing tool. Easily test your website by adding domain and IP addresses before making actual DNS changes, ensuring perfect functionality without risks or downtime. AVOIDNS is free with no limits.</p>

    <h2>Why Choose AVOIDNS?</h2>
    <p><strong>Free and Unlimited:</strong> Enjoy unlimited DNS testing at no cost.</p>
    <p><strong>Risk-Free Testing:</strong> Safely test your site without affecting live DNS settings.</p>
    <p><strong>No Downtime:</strong> Ensure your website remains accessible during testing.</p>
    <p><strong>User-Friendly:</strong> Quickly add domains and IPs for efficient testing.</p>

    <h2>Ideal for Hosting Users</h2>
    <p>Perfect for users of Cloudways, WP Engine, SiteGround, Hostinger, BigScoots, and Kinsta. Test your site’s compatibility with these hosts before making permanent DNS changes.</p>

    <h2>Get Started Today</h2>
    <p>Join thousands who trust AVOIDNS. Start testing your website now for free and experience a risk-free, efficient testing environment.</p>
  </div>
</section>
{% endblock %}

