<header class="header">
  <div class="container flex justify-between items-center">
    <a href="/" class="logo flex items-center">
      <div class="logo-container">
        <img src="{{ url_for('static', filename='white-logo.png') }}" alt="avoidnsLogo" class="logo-img">
      </div>
      <h2>avoi<span class="text-neon text-orange"><b>D</b></span>NS<span>.</span></h2>
    </a>
    <nav class="hidden md:flex space-x-4">
      <a href="/" class="text-white">Home</a>
      <a href="/about" class="text-white">About</a>
      <a href="/contact" class="text-white">Contact</a>
    </nav>
    <div class="md:hidden">
      <button id="nav-toggle" class="text-white focus:outline-none">
        <i class="fas fa-bars" style="font-size: 25px;"></i>
      </button>
    </div>
  </div>
  <div id="mobile-menu" class="hidden md:hidden mt-4">
    <nav class="flex flex-col items-center space-y-4">
      <a href="/" class="text-white">Home</a>
      <a href="/about" class="text-white">About</a>
      <a href="/contact" class="text-white">Contact</a>
    </nav>
  </div>
</header>

