<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Your Title Here</title>
    <meta name="description" content="Your Description Here">
    <!-- OpenGraph meta tags -->
    <meta property="og:title" content="Your Title Here">
    <meta property="og:description" content="Your Description Here">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://avoidns.com">
    <meta property="og:image" content="/static/og-image-path.png"> <!-- Replace with actual image path -->
    <meta property="og:site_name" content="AVOIDNS">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebApplication",
      "name": "Free DNS Testing Tool",
      "url": "https://avoidns.com",
      "description": "Test your website with our free DNS testing tool by adding domain and IP before making actual DNS changes. Ensure your site works perfectly without any risks or downtime. No limits, no charges.",
      "applicationCategory": "Utility",
      "operatingSystem": "All",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.8",
        "reviewCount": "150"
      }
    }
    </script>
    <!-- Preload CSS -->
    <link rel="preload" href="/static/css/fonts.css" as="style">
    <link rel="preload" href="/static/styles.css" as="style">
    <link rel="preload" href="/static/white-logo.png" as="image">
    <!-- Preload Fonts -->
    <link rel="preload" href="/static/fonts/poppins/poppins-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/static/fonts/poppins/poppins-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">

    <!-- Load CSS -->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" as="style">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
    /* Immediate dark background to avoid flash */
    body {
      background-color: #010e18;
      color: #ebedef;
      overflow: hidden; /* Prevent scrolling */
    }
  </style>
  </head>

<body>
  <header class="header">
    <div class="container flex justify-between items-center">
      <a href="https://avoidns.com" class="logo flex items-center">
        <div class="logo-container">
          <img src="/static/white-logo.png" alt="avoidnsLogo" class="logo-img">
        </div>
        <h2>avoiDNS<span>.</span></h2>
      </a>
      <nav class="hidden md:flex space-x-4">
        <a href="https://avoidns.com" class="text-white">Home</a>
        <a href="https://avoidns.com/about" class="text-white">About</a>
        <a href="https://avoidns.com/contact" class="text-white">Contact</a>
      </nav>
      <div class="md:hidden">
        <button id="nav-toggle" class="text-white focus:outline-none">
          <i class="fas fa-bars" style="font-size: 25px;"></i>
        </button>
      </div>
    </div>
    <div id="mobile-menu" class="hidden md:hidden mt-4">
      <nav class="flex flex-col items-center space-y-4">
        <a href="https://avoidns.com" class="text-white">Home</a>
        <a href="https://avoidns.com/about" class="text-white">About</a>
        <a href="https://avoidns.com/contact" class="text-white">Contact</a>
      </nav>
    </div>
  </header>

  <section class="mainform">
    <div id="background-effect"></div>
    <div class="form-container">
      <h1><i class="fas fa-times-circle" style="color: #f97575;"></i> The link has been <br>expired.</h1>
      <h3><a href="https://avoidns.com/"><span class="text-neon text-orange"><b>Try creating new.</b></span></a></h3>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <p>made with <span class="heart">❤</span> by ahmadsami</p>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.21/vanta.birds.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
  <script defer src="/static/script.js"></script>
  <script>
    let currentEffect;
    function setVantaEffect() {
      if (currentEffect) currentEffect.destroy();
      currentEffect = VANTA.BIRDS({
        el: "#background-effect",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        backgroundColor: 0x10e18,
        color1: 0xffd100,
        color2: 0x820c12,
        colorMode: "lerp",
        birdSize: 0.50,
        wingSpan: 12.00,
        speedLimit: 1.00,
        separation: 100.00,
        alignment: 100.00,
        cohesion: 100.00
      });
    }
    setVantaEffect();  // Initialize effect on page load
  </script>
<script>
	 document.getElementById('nav-toggle').addEventListener('click', function() {
    var mobileMenu = document.getElementById('mobile-menu');
    if (mobileMenu.classList.contains('hidden')) {
      mobileMenu.classList.remove('hidden');
    } else {
      mobileMenu.classList.add('hidden');
    }
  });
</script>
</body>
</html>

